In [1]:
import pandas as pd

In [2]:
#create a simple dataset of people
data={'Name':["John","Anna","Peter","Linda"],
     'Location':["New York","Paris","Berlin","London"],
     'Age':[24,13,53,33]}

data_pandas=pd.DataFrame(data)
display(data_pandas)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

In [3]:
display(data_pandas[data_pandas.Age>30])

    Name Location  Age
2  Peter   Berlin   53
3  Linda   London   33

In [16]:
from sklearn.datasets import load_iris
iris_dataset = load_iris()
iris_dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [20]:
iris_dataset["target_names"]

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [19]:
iris_dataset["feature_names"]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [21]:
type (iris_dataset["data"])

numpy.ndarray

In [23]:
iris_dataset["data"].shape

(150, 4)

In [24]:
iris_dataset["data"][:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])